<!--@subject {{trans "New RMA Request"}} @-->
<!--@vars {
} @-->
<!--@styles
@-->

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="header">
            <p>Your RMA request has been received. Once it's been reviewed and processed, you'll receive an update with next steps. Thank you.</p>
        </td>
    </tr>
    <tr>
        <td class="details">
            <div>Return: # {{var frontId}}</div>
            <div>Status: {{var status}}</div>
            <div>Reason: {{var reason}}</div>
            <div>Resolution: {{var resolution}}</div>
            <div>Comments: {{var comments}}</div>
        </td>
    </tr>
</table>
