<?xml version="1.0"?>
<!--
/**
 * config.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package     AuroraExtensions\SimpleReturns
 * @copyright   Copyright (C) 2023 Aurora Extensions <support@auroraextensions.com>
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <simplereturns>
            <general>
                <enable>0</enable>
            </general>
            <returns>
                <shipping_carrier>ups</shipping_carrier>
                <shipping_method>03</shipping_method>
                <order_amount_minimum>50.00</order_amount_minimum>
                <order_amount_maximum></order_amount_maximum>
                <order_age_maximum>30</order_age_maximum>
                <package_weight>5.00</package_weight>
                <recipient_first_name>Customer</recipient_first_name>
                <recipient_last_name>Service</recipient_last_name>
                <return_form_url></return_form_url>
            </returns>
            <origin>
                <company></company>
            </origin>
            <admin>
                <rma_request_new_email_identity>general</rma_request_new_email_identity>
                <rma_request_new_email_template>simplereturns_admin_rma_request_new_email_template</rma_request_new_email_template>
            </admin>
            <customer>
                <rma_request_new_email_identity>general</rma_request_new_email_identity>
                <rma_request_new_email_template>simplereturns_customer_rma_request_new_email_template</rma_request_new_email_template>
                <rma_request_status_change_email_identity>general</rma_request_status_change_email_identity>
                <rma_request_status_change_email_template>simplereturns_customer_rma_request_status_change_email_template</rma_request_status_change_email_template>
                <rma_request_update_email_identity>general</rma_request_update_email_identity>
                <rma_request_update_email_template>simplereturns_customer_rma_request_update_email_template</rma_request_update_email_template>
            </customer>
        </simplereturns>
    </default>
</config>
