<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT license, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package     AuroraExtensions\SimpleReturns
 * @copyright   Copyright (C) 2023 Aurora Extensions <support@auroraextensions.com>
 * @license     MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AuroraExtensions\SimpleReturns\Api\SimpleReturnManagementInterface"
                type="AuroraExtensions\SimpleReturns\Model\Management\SimpleReturnManagement"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\SimpleReturnRepositoryInterface"
                type="AuroraExtensions\SimpleReturns\Model\RepositoryModel\SimpleReturnRepository"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\SimpleReturnInterface"
                type="AuroraExtensions\SimpleReturns\Model\Data\SimpleReturn"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\SimpleReturnSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\PackageManagementInterface"
                type="AuroraExtensions\SimpleReturns\Model\Management\PackageManagement"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\PackageRepositoryInterface"
                type="AuroraExtensions\SimpleReturns\Model\RepositoryModel\PackageRepository"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\PackageInterface"
                type="AuroraExtensions\SimpleReturns\Model\Data\Package"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\PackageSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\LabelManagementInterface"
                type="AuroraExtensions\SimpleReturns\Model\Management\LabelManagement"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\LabelRepositoryInterface"
                type="AuroraExtensions\SimpleReturns\Model\RepositoryModel\LabelRepository"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\LabelInterface"
                type="AuroraExtensions\SimpleReturns\Model\Data\Label"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\LabelSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\AttachmentManagementInterface"
                type="AuroraExtensions\SimpleReturns\Model\Management\AttachmentManagement"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\AttachmentRepositoryInterface"
                type="AuroraExtensions\SimpleReturns\Model\RepositoryModel\AttachmentRepository"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\AttachmentInterface"
                type="AuroraExtensions\SimpleReturns\Model\Data\Attachment"/>
    <preference for="AuroraExtensions\SimpleReturns\Api\Data\AttachmentSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\SimpleReturns\Csi\System\Module\ConfigInterface"
                type="AuroraExtensions\SimpleReturns\Model\SystemModel\Module\Config"/>

    <type name="AuroraExtensions\SimpleReturns\Setup\Patch\Data\CreateSimpleReturnProductAttribute">
        <arguments>
            <argument name="eavConfig" xsi:type="array">
                <item name="type" xsi:type="const">Magento\Framework\Reflection\TypeProcessor::NORMALIZED_INT_TYPE</item>
                <item name="input" xsi:type="const">Magento\Framework\Reflection\TypeProcessor::NORMALIZED_BOOLEAN_TYPE</item>
                <item name="label" xsi:type="string" translate="true">Returnable</item>
                <item name="global" xsi:type="const">Magento\Eav\Model\Entity\Attribute\ScopedAttributeInterface::SCOPE_GLOBAL</item>
                <item name="frontend" xsi:type="null"/>
                <item name="source" xsi:type="string">Magento\Eav\Model\Entity\Attribute\Source\Boolean</item>
                <item name="visible" xsi:type="boolean">true</item>
                <item name="required" xsi:type="boolean">false</item>
                <item name="user_defined" xsi:type="boolean">true</item>
                <item name="default" xsi:type="number">0</item>
                <item name="searchable" xsi:type="boolean">false</item>
                <item name="filterable" xsi:type="boolean">false</item>
                <item name="comparable" xsi:type="boolean">false</item>
                <item name="visible_on_front" xsi:type="boolean">false</item>
                <item name="unique" xsi:type="boolean">false</item>
                <item name="apply_to" xsi:type="null"/>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleReturns\Model\SystemModel\Module\Config">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="carriers" xsi:type="array">
                    <item name="ups" xsi:type="string">UPS</item>
                    <item name="fedex" xsi:type="string">Fedex</item>
                </item>
                <item name="methods" xsi:type="array">
                    <item name="ups" xsi:type="array">
                        <item name="03" xsi:type="string">UPS Ground</item>
                    </item>
                    <item name="fedex" xsi:type="array">
                        <item name="FEDEX_GROUND" xsi:type="string">Fedex Ground</item>
                    </item>
                </item>
                <item name="reasons" xsi:type="array">
                    <item name="defective_not_working" xsi:type="string">Item defective or doesn't work</item>
                    <item name="inaccurate_description" xsi:type="string">Inaccurate website description</item>
                    <item name="wrong_item" xsi:type="string">Wrong item was sent</item>
                    <item name="no_longer_needed" xsi:type="string">No longer needed</item>
                    <item name="bought_by_mistake" xsi:type="string">Bought by mistake</item>
                    <item name="better_price_available" xsi:type="string">Better price available</item>
                    <item name="damaged_pretransit" xsi:type="string">Product damaged, but shipping box OK</item>
                    <item name="arrived_too_late" xsi:type="string">Item arrived too late</item>
                    <item name="missing_broken_parts" xsi:type="string">Missing or broken parts</item>
                    <item name="damaged_in_transit" xsi:type="string">Product and shipping box both damaged</item>
                    <item name="extra_item" xsi:type="string">Received extra item I didn't buy (no refund needed)</item>
                    <item name="unapproved_purchase" xsi:type="string">Didn't approve purchase</item>
                </item>
                <item name="resolutions" xsi:type="array">
                    <item name="refund" xsi:type="string">Refund</item>
                    <item name="repair" xsi:type="string">Repair</item>
                    <item name="replacement" xsi:type="string">Replacement</item>
                </item>
                <item name="statuses" xsi:type="array">
                    <item name="pending" xsi:type="string">Pending</item>
                    <item name="approved" xsi:type="string">Approved</item>
                    <item name="canceled" xsi:type="string">Canceled</item>
                    <item name="declined" xsi:type="string">Declined</item>
                    <item name="on_hold" xsi:type="string">On Hold</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="AuroraExtensions\SimpleReturns\Model\Display\LabelManager">
        <arguments>
            <argument name="fieldMap" xsi:type="array">
                <item name="statuses" xsi:type="string">status</item>
                <item name="reasons" xsi:type="string">reason</item>
                <item name="resolutions" xsi:type="string">resolution</item>
                <item name="carriers" xsi:type="string">carrier_code</item>
                <item name="methods" xsi:type="string">method_code</item>
            </argument>
            <argument name="data" xsi:type="array">
                <item name="status" xsi:type="object">AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\StatusList</item>
                <item name="reason" xsi:type="object">AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\ReasonList</item>
                <item name="resolution" xsi:type="object">AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\ResolutionList</item>
                <item name="carrier" xsi:type="object">AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Shipping\ShippingCarrierList</item>
                <item name="method" xsi:type="object">AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Shipping\ShippingMethodList</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\StatusList"
                 type="AuroraExtensions\ModuleComponents\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="pending" xsi:type="string">Pending</item>
                <item name="approved" xsi:type="string">Approved</item>
                <item name="canceled" xsi:type="string">Canceled</item>
                <item name="declined" xsi:type="string">Declined</item>
                <item name="on_hold" xsi:type="string">On Hold</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\ReasonList"
                 type="AuroraExtensions\ModuleComponents\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="defective_not_working" xsi:type="string">Item defective or doesn't work</item>
                <item name="inaccurate_description" xsi:type="string">Inaccurate website description</item>
                <item name="wrong_item" xsi:type="string">Wrong item was sent</item>
                <item name="no_longer_needed" xsi:type="string">No longer needed</item>
                <item name="bought_by_mistake" xsi:type="string">Bought by mistake</item>
                <item name="better_price_available" xsi:type="string">Better price available</item>
                <item name="damaged_pretransit" xsi:type="string">Product damaged, but shipping box OK</item>
                <item name="arrived_too_late" xsi:type="string">Item arrived too late</item>
                <item name="missing_broken_parts" xsi:type="string">Missing or broken parts</item>
                <item name="damaged_in_transit" xsi:type="string">Product and shipping box both damaged</item>
                <item name="extra_item" xsi:type="string">Received extra item I didn't buy (no refund needed)</item>
                <item name="unapproved_purchase" xsi:type="string">Didn't approve purchase</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Rma\ResolutionList"
                 type="AuroraExtensions\ModuleComponents\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="refund" xsi:type="string">Refund</item>
                <item name="repair" xsi:type="string">Repair</item>
                <item name="replacement" xsi:type="string">Replacement</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Shipping\ShippingCarrierList"
                 type="AuroraExtensions\ModuleComponents\Model\Config\Source\Select\VirtualSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="ups" xsi:type="string">UPS</item>
                <item name="fedex" xsi:type="string">Fedex</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Model\Config\Source\Select\Shipping\ShippingMethodList"
                 type="AuroraExtensions\ModuleComponents\Model\Config\Source\Select\OptGroup\VirtualOptGroupSelect">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="ups" xsi:type="array">
                    <item name="03" xsi:type="string">UPS Ground</item>
                </item>
                <item name="fedex" xsi:type="array">
                    <item name="FEDEX_GROUND" xsi:type="string">Fedex Ground</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Control\Button\Rma\CancelButton"
                 type="AuroraExtensions\ModuleComponents\Ui\Component\Control\Button\VirtualJsRedirectButton">
        <arguments>
            <argument name="label" xsi:type="string">Cancel</argument>
            <argument name="htmlClass" xsi:type="string">cancel secondary</argument>
            <argument name="routePath" xsi:type="string">simplereturns/rma/view</argument>
            <argument name="paramList" xsi:type="array">
                <item name="rma_id" xsi:type="null"/>
            </argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Control\Button\Rma\SaveButton"
                 type="AuroraExtensions\ModuleComponents\Ui\Component\Control\Button\VirtualFormActionButton">
        <arguments>
            <argument name="label" xsi:type="string">Save</argument>
            <argument name="htmlClass" xsi:type="string">save primary</argument>
            <argument name="components" xsi:type="array">
                <item name="simpleReturnsAjaxSaveRedirect" xsi:type="array"/>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Control\Button\Package\CancelButton"
                 type="AuroraExtensions\ModuleComponents\Ui\Component\Control\Button\VirtualJsRedirectButton">
        <arguments>
            <argument name="label" xsi:type="string">Cancel</argument>
            <argument name="htmlClass" xsi:type="string">cancel secondary</argument>
            <argument name="routePath" xsi:type="string">simplereturns/package/view</argument>
            <argument name="paramList" xsi:type="array">
                <item name="pkg_id" xsi:type="null"/>
            </argument>
            <argument name="sortOrder" xsi:type="number">30</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Control\Button\Package\SaveButton"
                 type="AuroraExtensions\ModuleComponents\Ui\Component\Control\Button\VirtualFormActionButton">
        <arguments>
            <argument name="label" xsi:type="string">Save</argument>
            <argument name="htmlClass" xsi:type="string">save primary</argument>
            <argument name="components" xsi:type="array">
                <item name="simpleReturnsAjaxSaveRedirect" xsi:type="array"/>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Listing\Column\Rma\Actions"
                 type="AuroraExtensions\SimpleReturns\Ui\Component\Listing\Column\Actions">
        <arguments>
            <argument name="paramKey" xsi:type="string">rma_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="AuroraExtensions\SimpleReturns\Ui\Component\Listing\Column\Package\Actions"
                 type="AuroraExtensions\SimpleReturns\Ui\Component\Listing\Column\Actions">
        <arguments>
            <argument name="paramKey" xsi:type="string">pkg_id</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductDataProvider">
        <arguments>
            <argument name="addFieldStrategies" xsi:type="array">
                <item name="simple_return" xsi:type="object">AuroraExtensions\SimpleReturns\Ui\DataProvider\Grid\Product\AddSimpleReturnFieldToCollection</item>
            </argument>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="simple_return" xsi:type="object">AuroraExtensions\SimpleReturns\Ui\DataProvider\Grid\Product\AddSimpleReturnFilterToCollection</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="simplereturns_rma_order_grid_data_source" xsi:type="string">Magento\Sales\Model\ResourceModel\Order\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
