<?xml version="1.0"?>
<!--
/**
 * module.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Aurora Extensions EULA,
 * which is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleReturns
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       Aurora Extensions EULA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="AuroraExtensions_SimpleReturns" setup_version="1.0.0">
        <sequence>
            <module name="AuroraExtensions_ImageResizer"/>
            <module name="AuroraExtensions_Polyfill"/>
            <module name="Magento_Backend"/>
        </sequence>
    </module>
</config>
