<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Aurora Extensions EULA,
 * which is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleReturns
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       Aurora Extensions EULA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerlist" xsi:type="array">
                <item name="auroraextensions_simplereturns_router" xsi:type="array">
                    <item name="class" xsi:type="string">AuroraExtensions\SimpleReturns\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="AuroraExtensions\SimpleReturns\Controller\Router">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="dispatch" xsi:type="array">
                    <item name="returns_rma_create" xsi:type="string">AuroraExtensions\SimpleReturns\Controller\Rma\Create</item>
                    <item name="returns_rma_createPost" xsi:type="string">AuroraExtensions\SimpleReturns\Controller\Rma\CreatePost</item>
                    <item name="returns_rma_orders" xsi:type="string">AuroraExtensions\SimpleReturns\Controller\Rma\Orders</item>
                    <item name="returns_label_index" xsi:type="string">AuroraExtensions\SimpleReturns\Controller\Label\Index</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
