<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Aurora Extensions EULA,
 * which is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleReturns
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       Aurora Extensions EULA
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="AuroraExtensions\SimpleReturns\Model\SystemModel\Module\Config">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="reasons" xsi:type="array">
                    <item name="no_longer_needed" xsi:type="string">No longer needed</item>
                    <item name="inaccurate_description" xsi:type="string">Inaccurate website description</item>
                    <item name="defective_not_working" xsi:type="string">Item defective or doesn't work</item>
                    <item name="bought_by_mistake" xsi:type="string">Bought by mistake</item>
                    <item name="better_price_available" xsi:type="string">Better price available</item>
                    <item name="damaged_pretransit" xsi:type="string">Product damaged, but shipping box OK</item>
                    <item name="arrived_too_late" xsi:type="string">Item arrived too late</item>
                    <item name="missing_broken_parts" xsi:type="string">Missing or broken parts</item>
                    <item name="damaged_in_transit" xsi:type="string">Product and shipping box both damaged</item>
                    <item name="wrong_item" xsi:type="string">Wrong item was sent</item>
                    <item name="extra_item" xsi:type="string">Received extra item I didn't buy (no refund needed)</item>
                    <item name="unapproved_purchase" xsi:type="string">Didn't approve purchase</item>
                </item>
                <item name="resolutions" xsi:type="array">
                    <item name="replacement" xsi:type="string">Replacement</item>
                    <item name="repair" xsi:type="string">Repair</item>
                    <item name="refund" xsi:type="string">Refund</item>
                    <item name="exchange" xsi:type="string">Exchange</item>
                    <item name="store_credit" xsi:type="string">Store Credit</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
