<?xml version="1.0"?>
<!--
/**
 * menu.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/simplereturns/LICENSE.txt
 *
 * @package       AuroraExtensions_SimpleReturns
 * @copyright     Copyright (C) 2019 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AuroraExtensions_SimpleReturns::rma"
             title="Simple Returns"
             translate="title"
             module="AuroraExtensions_SimpleReturns"
             dependsOnModule="AuroraExtensions_SimpleReturns"
             resource="AuroraExtensions_SimpleReturns::rma"
             sortOrder="18"/>
        <add id="AuroraExtensions_SimpleReturns::rma_operation"
             title="Operations"
             translate="title"
             module="AuroraExtensions_SimpleReturns"
             dependsOnModule="AuroraExtensions_SimpleReturns"
             parent="AuroraExtensions_SimpleReturns::rma"
             resource="AuroraExtensions_SimpleReturns::rma_operation"
             sortOrder="10"/>
        <add id="AuroraExtensions_SimpleReturns::rma_request"
             title="Returns"
             translate="title"
             module="AuroraExtensions_SimpleReturns"
             dependsOnModule="AuroraExtensions_SimpleReturns"
             sortOrder="10"
             parent="AuroraExtensions_SimpleReturns::rma_operation"
             resource="AuroraExtensions_SimpleReturns::rma_request"
             action="simplereturns/rma/index"/>
        <add id="AuroraExtensions_SimpleReturns::rma_package"
             title="Packages"
             translate="title"
             module="AuroraExtensions_SimpleReturns"
             dependsOnModule="AuroraExtensions_SimpleReturns"
             sortOrder="20"
             parent="AuroraExtensions_SimpleReturns::rma_operation"
             resource="AuroraExtensions_SimpleReturns::rma_package"
             action="simplereturns/package/index"/>
    </menu>
</config>
