/**
 * progress.css
 */

.loading {
  left: 50%;
  position: absolute;
  top: 50%;
}

.loading-bar {
  animation: loading 1s ease-in-out infinite;
  border-radius: 4px;
  display: inline-block;
  height: 18px;
  width: 4px;
}

.loading-bar:nth-child(1) {
  animation-delay: 0;
  background-color: #3498db;
}

.loading-bar:nth-child(2) {
  animation-delay: 0.09s;
  background-color: #c0392b;
}

.loading-bar:nth-child(3) {
  animation-delay: .18s;
  background-color: #f1c40f;
}

.loading-bar:nth-child(4) {
  animation-delay: .27s;
  background-color: #27ae60;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
